/*//font-family: "Coming Soon", cursive;
//font-family: "Nunito", sans-serif;
//font-family: "Roboto", sans-serif;*/

:root {
    --default-font-family: "Nunito", sans-serif;
    --default-font-color:#272142
  }
  body {
    font-family: var(--default-font-family);
  }
  .project-footer {
    color: #f9f7fe;
  }
  p {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 30px 30px;
  }
  #navTitle {
    font-size: 16px;
    font-weight: bold;
  }
  #copyright {
    font-family: "Roboto", sans-serif;
    font-size: 16;
  }
  #foodImages {
    border-radius: 12px;
    height: 350px;
  }
  @media (max-width: 960px) {
    body {
      text-align: center;
    }
    p {
      font-size: 20px;
      margin: 0px 0px 30px 0px;
    }
    #copyright {
      font-size: 8px;
    }
  }
  .about{font-size: 72px;
  text-align: center; font-weight: bold;color:var(--default-font-color);}
  #shellyWhite{height: 450px; width: 460px;}
  .shellyName{font-size: 64px;
    text-align: center; font-weight: bold;color:var(--default-font-color)}
  .shellyAbout{font-size: 18px;
    text-align: left ;font-weight:100 ; color:var(--default-font-color)}
    .favouriteRecipes{font-size: 36px;
      text-align: center;font-weight:bold ; color:var(--default-font-color)}
    h3{font-size: 24px;
      text-align: center;font-weight:bold ; color:var(--default-font-color)}
#recipeInfo{font-size: 18px;
  text-align: left ;font-weight:100 ; color:var(--default-font-color)}