/*//font-family: "Coming Soon", cursive;
//font-family: "Nunito", sans-serif;
//font-family: "Roboto", sans-serif;*/

:root {
  --default-font-family: "Nunito", sans-serif;
  --default-font-color: #272142;
}
.page-content {
  max-width: 90%;
  margin: auto;
}
.page-content-recipes {
  max-width: 65%;
  margin: auto;
}
body {
  font-family: var(--default-font-family);
}
nav {
  padding: 48px 0;
}

nav a:hover,
nav li:active a {
  color: #662eed;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 30px;
}
nav ul {
  padding: 0;
  margin: 0;
}
#navLink {
  color: var(--default-font-color);
  text-decoration: none;
  font-weight: bold;
}
.homeBtn {
  color: #662eed;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  #navLink,
  .homeBtn {
    font-size: 12px;
    margin-left: 0px;
  }
}
.project-footer {
  color: #f9f7fe;
}
p {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 30px 30px;
}
#contactInfo {
  font-size: 24px;
  color: var(--default-font-color);
  font-weight: 100;
}
a {
  text-decoration: none;
}
#navTitle {
  font-size: 16px;
  font-weight: bold;
}
#copyright {
  font-family: "Roboto", sans-serif;
  font-size: 16;
}
#foodImages {
  border-radius: 12px;
  height: 350px;
}
#contactForm {
  font-size: 18px;
  font-weight: bold;
  color: #662eed;
}
@media (max-width: 960px) {
  body {
    text-align: center;
  }
  p {
    font-size: 20px;
    margin: 0px 0px 30px 0px;
  }
  #copyright {
    font-size: 8px;
  }
}

.about {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  color: var(--default-font-color);
}

.contact {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  color: var(--default-font-color);
}
#shellyWhite {
  height: 450px;
  width: 460px;
  border-radius: 12px;
  text-align: right;
}
.shellyName {
  font-size: 64px;
  font-weight: bold;
  color: var(--default-font-color);
}
.shellyAbout {
  font-size: 18px;
  text-align: left;
  font-weight: 100;
  color: var(--default-font-color);
}
.favouriteRecipes {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: var(--default-font-color);
}
#recipeTitle {
  font-size: 36px;
}
.about-page h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--default-font-color);
}
#recipeInfo {
  font-size: 16px;
  font-weight: 100;
  color: var(--default-font-color);
}
.page-content-recipes h3 {
  font-size: 36px;
  font-weight: bold;
  color: var(--default-font-color);
}
.page-content-recipes h4 {
  font-size: 24px;
  font-weight: bold;
  color: var(--default-font-color);
}
.page-content-recipes h5 {
  font-size: 18px;
  font-weight: 800;
  color: #f65282;
}
.page-content-recipes p {
  font-size: 18px;
  font-weight: 100;
  color: var(--default-font-color);
  margin: 0px 0px 0px 0px;
}

hr {
  border-style: dashed;
  color: #67d5d2;
  border-width: 1px;
}
.boldText {
  font-weight: bold;
}
footer {
  background: #f9f7fe;
}
footer i {
  color: #272142;
}
